@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css2?family=Jost&family=Open+Sans&display=swap");

html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body {
  box-sizing: border-box;
  background-color: #f3efec;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 30px;
}
img {
  width: 100%;
  height: auto;
}

.panel {
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 0.25em;
  border: solid 1px #000;
  box-shadow: 0.5rem 0.5rem 0rem #000000;
  text-transform: uppercase;
}

.pricing-table {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #000;
}
.pricing-table:last-child {
    border-bottom: 0;
}

.paner-title {
  width: 100%;
  background-color: #000;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  box-sizing: border-box;
}

.paner-title span {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid #fff;
  border-radius: 10px;
  margin-right: 10px;
}

.pricing-plan {
  border-bottom: 1px solid #000;
}

.pricing-plan:last-child {
  border: 0;
}

.pricing-img {
  border-bottom: 1px solid #000;
  padding: 0;
}

.pricing-header {
  font-family: "Jost", sans-serif;
  font-size: 2em;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #000;
}

.pricing-title {
  padding: 15px 25px;
}

.pricing-price {
  padding: 15px 25px;
  border-left: 1px solid #000;
}

.pricing-features {
  color: #78716c;
  margin-bottom: 15px;
  padding: 0 25px;
}

.pricing-features-item {
  margin-bottom: 5px;
}

.pricing-button {
  padding: 0 25px;
}
.pricing-button-item {
  display: block;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  background-color: #000;
  border: 1px solid #000;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-size: 1.2em;
  border-radius: 0.25em;
  margin-bottom: 25px;
}

.pricing-button-item.is-featured {
  background-color: #fff;
  color: #000;
}

.pricing-button-item:hover {
  background-color: #23a094;
  border: 1px solid #000;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.4s;
}

@media (min-width: 1500px) {
  .panel {
    width: 70vw;
  }
}

@media (max-width: 1200px) and (min-width: 844px) {
    .pricing-header {
      font-size: 1.3em;
    }
  }
  

@media (min-width: 845px) {
  .panel {
    flex-direction: row;
    min-height: 50vh;
  }

  .pricing-price {
    border-right: 1px solid #000;
  }

  .pricing-price:nth-child(3){
    border-right: 0;
  }
}

@media (max-width: 435px) {
  .pricing-header {
    display: block;
  }
  .pricing-title {
    border-bottom: 1px solid #000;
  }
}
